<h2>{{name}}</h2>
<div ng-show="candidate">
    <div>
        <h3>Top industries</h3>
        <table ng-show="industries">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in industries">
                    <td>{{c.name}}</td>
                    <td>{{c.count | number}}</td>
                    <td>{{c.amount | currency:undefined:0}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p ng-show="!industries">No ndustry data availabel for this candidate.</p>
    <div>
        <h3>Top Contributors</h3>
        <table ng-show="contributors">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Direct Amount</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in contributors">
                    <td>{{c.name}}</td>
                    <td>{{c.direct_amount | currency:undefined:0}}</td>
                    <td>{{c.total_amount | currency:undefined:0}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p ng-show="!contributors">No contributor data available for this candidate.</p>
</div>
<div ng-show="!candidate">
    No data is available for this candidate.
</div>
<p>Back to <a href="#/">home view.</a></p>