 /* candidate */
 .summary {
    margin-bottom: 21px;
 }

 .summary-headshot {
    float: left;
    margin-right: 15px;
 }

 .summary-header {
    margin-bottom: 0px;
 }

 .pie-container {
    width: 50%;
    float: right;
    
     .chart-container {
        margin-left: -16%;
     }
 }
