/* tables */
table {
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 21px;
}

td, th {
    padding: 3px;
}

thead {
    background-color: #41748c;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #eff6fa;
}

td.active {
    background-color: #ffe0d8;
}