/* tables */
table {
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 21px;
}

td, th {
    padding: 3px;
}

thead {
    background-color: #212121;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #e1e1e1;
}